@font-face {
    font-family: "itc_avant_garde_gothic_proMd";
    /* src: url('../fonts/ITCAvantGardePro-Md.otf') format('opentype'); */
    /* src: url('../fonts/ITCAvantGardePro-Bk.otf') format('opentype'); */
    src: url("../task-deneme/fonts/ITCAvantGardePro-Bold.otf") format('opentype');
    /* src: url('../fonts/ITCAvantGardePro-Demi.otf') format('opentype'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.ttc');
    font-weight: normal;
    font-style: normal;
}


*{
margin: 0; 
padding: 0;
}

.container {
    min-height: 100vh;
    width: 100%;

}

.left {
    width: 50%;
    float: left; 
}

.banner-img{
    width: 720;
    height: auto;
    float: left;
    width: 100%;    
}

.right {
    margin-left: 60px;
    text-align: left;
    max-width: 100%;
}

.headline1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-family: "itc_avant_garde_gothic_proMd";
}


.headline2 {
    font-size: 3vmin;
    font-weight: 400;
    color: #666666;
    margin-bottom: 40px;
    text-align: left;

}

a {
    font-size: 12.8px;
    text-decoration: none;
    display:inline-block;
    margin: 5px;
    text-align: left;

}
.products {
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.product {
    flex: 1;
    margin: 15px;
    margin-left: 30px;
    text-align: center;
}

.product img {
    width: 100%;
}

.product-details {
    margin-top: 20px;
    text-align: left;
}

.product-name {
    font-weight: bold;
}

.product-price {
    font-size: 18px;
    color: gray;
}


@media only screen and (max-width:720px){



.left {
float: left;
width: 50%;
width: auto;
border-radius: 0px;
border: 0.1;

}

.banner-img{
width: 100%;
left: 0px;
top: 0px;

}

.right {
    float: left;
    padding: 0;
    margin-left: 40px;
    
    
 
}
.headline1 {
    float: left;
    font-size: 7vmin;
    text-align: left;
    color: whitesmoke;
    position: absolute;
    top: 40%; 
    width: 90%;
    text-align: left;
    padding: 0;
    
}

.headline2 {
    display: none;
}

a {
    font-size: 5vmin;
    text-decoration: none;
    display:inline-block;
    margin:10px;
    color: whitesmoke;
    text-align: left;
    position: absolute;
    width: 90%;
    top: 55%;
    padding: 0;

}

.products {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    position: absolute;
    width: 90%;
    top: 60%;
    padding: 0;
}
}